<div class="only-for-you-product" [routerLink]="['/product-details', data?.productSlug]" >
  <div class="only-for-you-product-img">
    <img [src]="data && data?.images ? data?.images[0] : '/assets/images/placeholder/test.png'" alt="">
  </div>

  <div class="only-for-you-product-content">
    <a [routerLink]="['/product-details', data?.productSlug]" >{{data?.productName}}</a>
    <ul>
      <li><span><i class="fa fa-star"></i></span></li>
      <li><span><i class="fa fa-star"></i></span></li>
      <li><span><i class="fa fa-star"></i></span></li>
      <li><span><i class="fa fa-star"></i></span></li>
      <li><span><i class="fa fa-star"></i></span></li>
    </ul>
    <div class="rate">
      <h2><span>ট</span> {{data?.price - data?.discountAmount}}
        <del><span>ট</span>{{data?.price}}</del>
      </h2>
    </div>
  </div>
  <div class="btn">
    <a  target="blank">
      <span>-{{((data?.discountAmount / data?.price) * 100) | number : '1.2-2' }}%</span>
      <small> Save: <span> ট</span> {{data?.discountAmount}}</small>
    </a>
  </div>
</div>
