<div class="mega-menu" [class.toolbar-small]="scrollPosition > 714">
  <div class="container">

    <div class="cat-list-viewer no-select"
         appOutSideClick (insideClick)="isOpen = !isOpen"
         cdkOverlayOrigin #trigger="cdkOverlayOrigin">
      <div class="icon-bg">
        <mat-icon class="list">list</mat-icon>
      </div>
      <div class="text-v">
        <p>Shop By</p>
        <div class="row-center-v">
          <a>Categories</a>
          <mat-icon>expand_more</mat-icon>
        </div>
      </div>
    </div> <!-- SHOP BY CATEGORY -->

    <div class="hamburger-menu">
      <button mat-button (click)="onToggleSidenav()" class="sidenav-toggle">
        <mat-icon>list</mat-icon>
        Menu
      </button>
    </div> <!-- END Toggle Button -->


    <ul class="menu-ul hide-nav-menu">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/all-product-list">Products</a></li>
      <li><a routerLink="/online-shop">Shops</a></li>
      <li><a routerLink="/pages/installation-and-repair" class="hide-list-sm">Installation & Repair</a></li>
      <li class="hide-list-sm">
        <a routerLink="/offers">Offers
          <img src="/assets/images/png/Hot.png" alt="">
        </a>

      </li>
      <li><a routerLink="/blog">Blog</a></li>
      <li class="hide-list-md hide-list-sm"><a routerLink="/pages/about-us">About Us</a></li>
      <li class="hide-list-md hide-list-sm"><a routerLink="/pages/contact-us">Contact Us</a></li>
    </ul>

    <ul class="menu-ul trigger-menu">
      <!-- COLLAPSE MENU -->
      <li>
        <button mat-icon-button [matMenuTriggerFor]="menuView">
          <mat-icon style="color: #FFFFFF">more_vert</mat-icon>
        </button>
      </li>
    </ul>

    <!--    <button (click)="menuCartTrigger.openMenu()">Test</button>-->

    <ul class="menu-ul menu-ul-mobile">
      <!-- ACCOUNT -->
      <li [fxHide]="isUserAuth">
        <a routerLink="/login" class="icon-btn" matTooltip="Login or Signup">
        <i class="fas fa-user"></i></a>
      </li>
      <li [fxHide]="!isUserAuth" id="hide"[matMenuTriggerFor]="menuUser" class="dropdown-mat no-select">
        <div fxHide.xs style="display: flex; align-items: center">
          <span>My Account</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </div>
      </li>

      <li [fxHide]="!isUserAuth"
          class="no-select"
          style="padding-right: 10px; position: relative; cursor: pointer">
        <a routerLink="/account/wishlist" class="icon-btn" matTooltip="My Wishlist">
          <i class="fas fa-heart"></i>
        </a>
<!--        <div class="icon-text">-->
<!--          <div class="icon">-->
<!--            <img src="/assets/images/icons/cart/cart-1.svg" alt="">-->
<!--          </div>-->
<!--          <div class="wrap" fxHide.xs>-->
<!--            <h3>My cart</h3>-->
<!--            <div class="inline">-->
<!--              <p>৳{{cartSubTotal}}</p>-->
<!--              <mat-icon>arrow_drop_down</mat-icon>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </li>
      <li [matMenuTriggerFor]="menuCart"
          #menuCartTrigger="matMenuTrigger"
          class="no-select hasBadge"
          style="padding-right: 10px; position: relative; cursor: pointer">
        <a href="javascript:" class="icon-btn" matTooltip="My cart">
          <i class="fas fa-shopping-cart"></i>
        </a>
        <div class="badge">
          <span>{{carts && carts.length > 0 ? (carts.length | numMinDigit) : 0}}</span>
        </div>
<!--        <div class="icon-text">-->
<!--          <div class="icon">-->
<!--            <img src="/assets/images/icons/cart/cart-1.svg" alt="">-->
<!--          </div>-->
<!--          <div class="wrap" fxHide.xs>-->
<!--            <h3>My cart</h3>-->
<!--            <div class="inline">-->
<!--              <p>৳{{cartSubTotal}}</p>-->
<!--              <mat-icon>arrow_drop_down</mat-icon>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </li>

    </ul>


  </div>
</div>

<!-- ****************************
     TEMPLATE AREA
     **************************** -->

<mat-menu #menuUser="matMenu">
  <button mat-menu-item routerLink="/account">
    <span>My Dashboard</span>
  </button>
  <button routerLink="/account/wishlist" mat-menu-item>
    <span>Wishlist</span>
  </button>
  <button routerLink="/account/order-list" mat-menu-item>
    <span>Order List</span>
  </button>
  <button routerLink="/account/transactions" mat-menu-item>
    <span>Transaction</span>
  </button>
  <button mat-menu-item (click)="onLogout()">
    <span>Logout</span>
  </button>
</mat-menu> <!-- END USER DROP MENU -->

<mat-menu #menuCart="matMenu" class="dropdown-cart" xPosition="before" [hasBackdrop]="true">
  <div class="cart-drop-down">
    <div class="cart-drop-main">

      <div class="close">
        <button mat-button (click)="onClose($event)">
          <mat-icon inline>close</mat-icon>
          Close
        </button>
      </div>

      <div class="drop-down-top" *ngFor="let c of carts">
        <div class="cart-drop-img">
          <img
            [src]="c?.product.images && c?.product.images.length > 0? c?.product.images[0] : '/assets/images/placeholder/test.png'"
            [alt]="c?.product?.productName">
        </div>
        <div class="cart-drop-title">
          <a href="#" target="blank">{{c?.product?.productName}}e</a>
          <span>{{c?.selectedQty}} × ৳{{(c?.product | price : 'priceWithDiscount') | number : '': 'bn' }}</span>
          <a class="cross" (click)="onDeleteCartItem($event, c?._id, c?.product?._id)">
            <mat-icon>close</mat-icon>
          </a>
        </div>
      </div> <!-- END CART ITEM -->


      <div class="drop-down-bottom">

        <div class="subtotal clearfix">
          <div class="subtotal-left">
            <h3>Subtotal:</h3>
          </div>
          <div class="subtotal-price">
            <span>৳{{cartSubtotal | number : '': 'bn'}}</span>
          </div>
        </div>
        <div class="cart-drop-btn" [fxShow]="carts && carts.length > 0">
          <a routerLink="/cart">View cart</a>
          <a routerLink="/checkout">checkout</a>
        </div>
      </div>

    </div>
  </div>
</mat-menu> <!-- END CART DROP MENU -->

<mat-menu #menuView="matMenu">
  <button mat-menu-item>
    <span>Installation & Repair</span>
  </button>
  <button mat-menu-item>
    <span>Offers</span>
  </button>
  <button mat-menu-item>
    <span>About Us</span>
  </button>
  <button mat-menu-item>
    <span>Contact Us</span>
  </button>
</mat-menu> <!-- END MENU ITEMS -->


<ng-template
cdkConnectedOverlay
[cdkConnectedOverlayOpen]="isOpen"
[cdkConnectedOverlayOrigin]="trigger"
>

  <nav class="hover-menu" *ngIf="!(isHandset$ | async)" appOutSideClick (outsideClick)="isOpen = false" ><!--  -->
    <ul class="main-menu">
      <li *ngFor="let menu of categoryMenus">
        <a class="d-flex" [routerLink]="'/product-list/' + menu.slug">
          <img class="cat-icon" [src]="menu.icon" alt="">
          <span>{{menu.name}}</span>
        </a>
<!--        <mat-icon>arrow_right</mat-icon>-->

<!--
        <ul class="sub-menu" *ngIf="menu.hasChild.length > 0">
          <li *ngFor="let subMenu of menu.hasChild" [routerLink]="'/product-list/' + menu.slug + '/' + subMenu.slug">
            <a [routerLink]="'/product-list/' + menu.slug + '/' + subMenu.slug">{{subMenu.name}}</a>
            <mat-icon>arrow_right</mat-icon>
            <ul class="super-sub-menu" *ngIf="subMenu.hasChild.length > 0">
              <li *ngFor="let superSubMenu of subMenu.hasChild" [routerLink]="'/product-list/'  + menu.slug + '/' + subMenu.slug + '/' + superSubMenu.slug ">
                <a [routerLink]="'/product-list/'  + menu.slug + '/' + subMenu.slug + '/' + superSubMenu.slug ">{{superSubMenu.name}}</a>
              </li>
            </ul>
          </li>
        </ul> -->

         <!---hover-menu-->
         <div class="sub-mega-menu" *ngIf="menu.hasChild.length > 0">
          <app-menu-hover-content [data]="menu.hasChild" [parentCategory]="menu"></app-menu-hover-content>
        </div> <!---hover-menu-end-->

      </li>
<!--      <li>-->
<!--        <a class="d-flex" [routerLink]="'/all-product-list'">-->
<!--          <img class="cat-icon" [src]="'/assets/images/icons/extra/more.svg'" alt="">-->
<!--          <span>{{'See More'}}</span>-->
<!--        </a>-->
<!--        <mat-icon>arrow_right</mat-icon>-->
<!--      </li>-->
    </ul>
  </nav> <!---END CATEGORY HOVER MENU PC-->


  <nav *ngIf="(isHandset$ | async)" class="mobile-cat-menu" appOutSideClick (outsideClick)="isOpen = false" (insideClick)="onCatNavClickMobile($event)">
    <app-menu-level-cat [menuItems]="mobileCatMenu" [menuParentId]="null"></app-menu-level-cat>
  </nav> <!-- END CATEGORY HOVER MENU MOBILE-->
</ng-template> <!-- END OVERLAY CAT MENU -->
