// Primary
$mat-soft-primary: (
  50 : #e2efef,
  100 : #b6d8d7,
  200 : #85bebc,
  300 : #54a4a1,
  400 : #2f918c,
  500 : #0a7d78,
  600 : #097570,
  700 : #076a65,
  800 : #05605b,
  900 : #034d48,
  A100 : #80fff5,
  A200 : #4dfff0,
  A400 : #1affec,
  A700 : #01ffea,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);



// Accent
$mat-soft-accent: (
  50 : #fce6ec,
  100 : #f8c0cf,
  200 : #f397af,
  300 : #ee6d8f,
  400 : #eb4d77,
  500 : #e72e5f,
  600 : #e42957,
  700 : #e0234d,
  800 : #dd1d43,
  900 : #d71232,
  A100 : #ffffff,
  A200 : #ffd2d8,
  A400 : #ff9fac,
  A700 : #ff8596,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

// Warn
$mat-soft-warn: (
  50 : #ffebe7,
  100 : #ffcdc2,
  200 : #ffab99,
  300 : #ff8970,
  400 : #ff7052,
  500 : #ff5733,
  600 : #ff4f2e,
  700 : #ff4627,
  800 : #ff3c20,
  900 : #ff2c14,
  A100 : #ffffff,
  A200 : #fffbfb,
  A400 : #ffccc8,
  A700 : #ffb4ae,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
