@import "src/theme/variables";

.time{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  margin-right: 10px;
}
.time-details{
  background-color: #E62D26;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  font-family: $font-en-primary;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  margin-right: 4px;
  text-align: center;
  border-radius:2px;
}
.time-details:last-child{
  margin-right: 0;
}
